.button {
  height: 75px;
  width: 245px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
}

/* LANDING PAGE */
.container {
  min-height: 70vh;
  display: flex;
  flex-direction: row;
}

.mainContainerLeft,
.mainContainerRight {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-height: 70vh;
  /* border: 1px solid black; */
}

.mainContainerRight {
  padding: 8em;
  flex-direction: column;
}

.shapeContainer {
  position: relative;
  height: 425px;
  width: 675px;
  display: flex;
  /* border: 1px solid blue; */
  justify-content: center;
  align-items: center;
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 259.8px solid #2d4168;
  top: 0px;
  left: 30px;
}

.circle {
  position: absolute;
  width: 287px;
  height: 287px;
  background-color: #f8afda;
  border-radius: 50%;
  bottom: 0px;
}

.rectangle {
  position: absolute;
  width: 350px;
  height: 140px;
  background-color: #12957d;
  top: 50px;
  right: 0px;
}

.heading {
  font-size: 72px;
  /* padding: 0 2em; */
  /* border: 1px solid black; */
}

.buttonContainer {
  display: flex;
  align-self: flex-start;
  padding-top: 3em;
  /* border: 1px solid black; */
}

.blue {
  background-color: #2d4168;
  margin: 0 0.5em;
}

.green {
  background-color: #12957d;
  margin: 0 0.5em;
}

/* -------------------SIGNUP PAGE-------------------- */
.signupContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 70vh;
  /* border: 1px solid black; */
}

.signupBox {
  width: 400px;
  /* width: 100%; */
  /* display: flex; */
  /* flex-direction: row; */
  /* height: 400px; */
  border-radius: 15px;
  padding: 1.5em;
  background-color: #ffffff;
  /* border: 1px solid black; */
  box-shadow: 4px 4px 50px 0px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  position: relative;
  /* width: 100%; */
  height: 450px;
  width: calc(400px - 3em);
  /* border: 1px solid blue; */
  overflow: hidden;
}

.box1 {
  /* display: flex; */
  /* flex-direction: column; */
  position: absolute;
  /* width: 50%; */
  width: calc(400px - 3em);
  /* border: 1px solid black; */
}

.box1:nth-child(2) {
  position: absolute;
  left: calc(100% + 3em);
}

.box1:nth-child(3) {
  position: absolute;
  left: calc(200% + 6em);
}

.leftArrow {
  margin-right: 0.3em;
  cursor: pointer;
}

.form h2 {
  font-size: 1.6em;
  font-weight: 700;
}

.form input,
.form select {
  margin: 10px 0;
  width: 100%;
  background: #f4f7fe;
  color: #7a7a7a;
  border: none;
  height: 45px;
  border-radius: 10px;
  padding: 0 10px;
  font-size: 1.1em;
}

.form label {
  display: flex;
  align-items: center;
  font-size: 1.1em;
  color: #7a7a7a;
  margin-right: 1em;
  /* border: 1px solid black; */
}

.form input:focus,
.form select:focus {
  outline: none;
}

#form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.submitBtn {
  margin: 10px 0;
  background-color: #2d4168;
  border: none;
  color: white;
  margin-top: 1em;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1em;
  font-weight: 700;
  border-radius: 10px;
}

.submitBtn:hover {
  cursor: pointer;
  background-color: #2d4168;
  /* color: black; */
}

/* -------------------------------------- EXPLORE PAGE ---------------------------------------------- */
.exploreFlex {
  display: flex;
  margin-top: 2rem;
}

.filterSideBarContainer {
  display: flex;
  flex-direction: column;
  width: 30vw;
  padding-left: 5.5rem;
}

@media (min-width: 1280px) {
  .filterSideBarContainer {
    min-width: 300px;
  }
}

.multiSelectFilter {
  margin-top: 20px;
}

.filterApplyBtn {
  border: none;
  outline: none;
  box-shadow: none;
  padding: 15px;
  background-color: #2d4168;
  color: white;
  border-radius: 7px;
  width: 110px;
  font-family: "Montserrat", sans-serif;
}

.filterApplyBtn:hover {
  cursor: pointer;
  background-color: #3e5a92;
}

.filterFooter {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.filterFooter p {
  margin-left: 20px;
}

.filterFooter p:hover {
  cursor: pointer;
}

/* ---------------------------- POSTS ------------------------- */

.postsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
}

.postContainer {
  width: 35rem;
  padding: 1.25rem;
  background-color: white;
  margin-top: 30px;
  border-radius: 0.7rem;
  box-shadow: 12px 21px 41px rgba(0, 0, 0, 0.05);
}
.roundedFull {
  border-radius: 9999px;
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.postProfile {
  display: flex;
  position: relative;
}

.postProfile:hover {
  cursor: pointer;
}

.postProfileName {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.postProfileName p {
  font-weight: 500;
  font-size: 0.85rem;
  margin: 0;
}

.postProfileName span {
  font-weight: 400;
  font-size: 0.6rem;
  margin: 0;
}

.postDate {
  margin-top: 10px;
}

.postDate p {
  color: #7a7a7a;
  font-size: 0.6rem;
}

.postTitle {
  margin-top: 10px;
  font-size: 1.4rem;
  font-weight: 500;
}

.postAttribs {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.postAttribRow {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.postAttribItem {
  font-size: 0.9rem;
  display: flex;
}

.postAttribItem :nth-child(1) {
  font-weight: 600;
}

.postAttribItem :nth-child(2) {
  margin-left: 5px;
}

.postDesc {
  font-size: 0.9rem;
  margin-top: 10px;
}

.postLocation {
  display: flex;
  margin-top: 15px;
  align-items: center;
  cursor: pointer;
}

.postLocation p {
  font-size: 0.9rem;
  margin-left: 5px;
}

.postFooter {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.postTags {
  display: flex;
  font-size: 0.6em;
  align-items: center;
}

.postTag {
  background-color: #12957d;
  color: white;
  padding: 5px 8px;
  border-radius: 3px;
  margin-right: 10px;
}

.postTag:hover {
  cursor: pointer;
}

.postChatButton {
  align-items: center;
  display: flex;
  background-color: #2d4168;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.postChatButton p {
  font-size: 0.7rem;
  margin: 0;
  margin-left: 5px;
}

.postChatButton:hover {
  cursor: pointer;
}
/* ---------------------- STARS SIDEBAR ---------------- */

.starsContainer {
  display: flex;
  flex-direction: column;
  padding-right: 5.5rem;
  padding-left: 3rem;
  width: 30vw;
}

.starSidebarHeader {
  display: flex;
  align-items: center;
}

.starredPostList {
  margin-top: 10px;
}
.starredPostList p {
  font-size: 1.3rem;
  padding-top: 10px;
}

.starredPostList p:hover {
  cursor: pointer;
}

/* ---------------------------- CREATE POST FORM ------------------- */
.createPostContainer {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createPostCard {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 0.7rem;
  box-shadow: 12px 21px 41px rgba(0, 0, 0, 0.05);
  padding: 40px;
  width: 45rem;
  height: fit-content;
  margin-top: 30px;
}

.createPostCard h1 {
  margin-bottom: 15px;
}

.createPostForm form {
  display: flex;
  flex-direction: column;
}

.createPostFormInput {
  font-family: "Montserrat", sans-serif;
  margin: 10px 0;
  width: 100%;
  background: #f4f7fe;
  color: #7a7a7a;
  border: none;
  border-radius: 10px;
  padding: 20px;
  font-size: 1.1em;
}

.createPostForm textarea {
  font-family: "Montserrat", sans-serif;
  margin: 10px 0;
  width: 100%;
  background: #f4f7fe;
  color: #7a7a7a;
  border: none;
  height: 5rem;
  border-radius: 10px;
  padding: 20px;
  font-size: 1.1em;
}

.createPostFormInput::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: "Montserrat", sans-serif;
  color: gray;
  opacity: 1; /* Firefox */
}

.createPostFormInput:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: gray;
}

.createPostFormInput::-ms-input-placeholder {
  /* Microsoft Edge */
  color: gray;
}

.formError {
  font-size: 0.8rem;
  color: rgb(255, 89, 89);
}

.createPostSubmitBtn {
  width: 15%;
  color: white;
  box-shadow: none;
  padding: 10px;
  margin-top: 20px;
  background-color: #2d4168;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1em;
  font-weight: 500;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
}

.createPostSubmitBtn:hover {
  background-color: #4967a3;
  cursor: pointer;
}
